
#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 40px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}


.photograph-header div {
flex:1;
}

.photographer_contact_button {
  display: flex;
  align-items: center;
}

.photographer_img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

  .photograph-header h1 {
    font-size: 48px;
    font-weight: 400;
    color: #D3573C;
    width: 400px;
    margin: 0 0 20px 0;
    line-height: 0.8;
  }

  .photographer_info p {
    color: #901C1C;
    font-size: 22px;
}


.photographer_info p:last-of-type {
    color: #000000;
    font-size: 16px;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 1px 1px 15px rgba(150, 150, 150, 0.5);
 
}


.media-section {
    display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-gap: 20px;
  padding-top: 80px;
  max-width: 1200px;
  margin-left: 80px;
    
}

.eachcard {
    position: relative;
    width: 360px;
    margin: 20px;
    display:flex;
    flex-direction: column;
  
}

.eachcard img, .eachcard video {
        height: 300px;
        width: 100%;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
        transition: 0.2s;
      }

.infocard {
        color: #901C1C;
        font-size: 22px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
      }

      .infocard span {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
      }

      .infocard span p {
        margin-right:5px;
      }

      #total-card {
        position:fixed;
        bottom:0;
        right:2%;
        padding:10px 25px;

        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: baseline;
        color:#000000;
        background-color:#DB8876;
        font-size:22px;
        border-radius : 5px 5px 0 0;
      }

      #total-card i {
        margin-right:20px;
        color:#000000;
        margin-left:5px;
      }

  